#group-list-container {
    padding-bottom: 40px;
}

.btnContainer {
    margin: 40px, 0;
    text-align: center;
}

.group-list {
    padding-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    margin-top: 30px;
    padding: 16px 32px;
    min-height: 300px;
}


.customHead {
    padding: 0px 0px;
    list-style: none;
    display: flex;
    border-bottom: 1px solid #333;
    margin-bottom: 0px;
    list-style: none;
    padding: 0;
    color: #333;


}

.customHead>li {
    flex: 1;
    padding: 6px 0px;
    font-weight: bold;
}

.customHead>li:first-child {
    flex: 3;
}

.customHead>li:nth-child(2) {
    text-align: left;
}

.customHead>li:last-child {
    text-align: center;
}

.customBody {
    padding: 0;
    list-style: none;
    max-height: 370px;
    min-height: 370px;
    overflow-y: auto;
    position: relative;
    margin-bottom: 0px;
    color: #666;
}

.customBody>li {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0px;
    padding: 8px 0px;
    align-self: end;
    align-items: center;

}

.customBody>li :last-child {
    border: none;
    text-align: right;
}

.customBody>li>div {
    flex: 1;
    padding: 2px;

}

.customBody>li>div :nth-child(2) {
    text-align: center;
}

.customBody>li>div :first-child {
    text-align: left;
    flex: 3;
}